.quiz-card {
  background-color: #FFFFFF;
  border-radius: 30px;
  /* height: 220px; */
  min-width: 380px;
  margin: 15px;
  padding: 40px 40px 40px 35px;
}
.quiz-card__title {
  margin-left: 5px;
}
.quiz-card__author, .quiz-card__date {
  color: rgba(0, 0, 0, 0.25);
  margin-left: 5px;
}
.quiz-card__button {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  margin: 65px 10px 0 0;
  padding: 10px 10px 10px 35px;
  opacity: 0.25;
  text-decoration: none;
}
.quiz-card__button:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}
.quiz-card__start-button {
  background-image: url("../../../images/start-icon.svg");
}
.quiz-card__remove-button {
  background-image: url("../../../images/remove-icon.svg");
}
@media (max-width: 500px) {
  .quiz-card {
    min-width: 0;
    width: 380px;
  }
}